@model cellCircle

    @*<div class="d-flex align-items-center">*@
            <div class="flex-shrink-0 me-3 align-self-center" style="position: relative;">
                <div size="220" color="@Model.color" widthback="5" widthfront="7" class="circle">@Model.percent</div>
            </div>
    @*</div>*@
