@model IEnumerable<ConditionFilter>

<!-- Дополнительно к фильтру -->
<div id="fullform" class="card m-1" style="display: none">
    <div class="card-header">
        Выбор диапазона в фильтре
    </div>
    <div class="card-body d-flex justify-content-between p-1">

        @foreach (var item in Model)
        {
            <div class="px-2">
                <label id="myfilter1" style="font-weight: normal; white-space: nowrap;">
                    @{@item.title} :
                    <input type="@item.typeVal" id="@{@item.idVal}a" class="form-control form-control-sm" placeholder="" value="0" style="display: inline-block; width: auto;">
                        -
                    <input type="@item.typeVal" id="@{@item.idVal}b" class="form-control form-control-sm" placeholder="" value="0" style="display: inline-block; width: auto;">
                    <button type="button" class="btn btn-secondary btn-sm" style="display: inline-block; width: auto;" onclick="UseFilter('@item.nameCol', '@{@item.idVal}a', '@{@item.idVal}b', '@item.condition')">Выбрать</button>
                </label>
            </div>
        }

    </div>
</div>