
<li class="menu-title d-none">Общий раздел</li>

<li>
    <a class="waves-effect" asp-area="" asp-controller="Home" asp-action="Index">
        <i class="mdi mdi-home"></i>
        <span>Главная</span>
    </a>
</li>

<li class="d-none">
    <a class="waves-effect" asp-area="" asp-controller="Home" asp-action="Privacy">
        <i class="mdi mdi-key"></i>
        <span>Секрет</span>
    </a>
</li>



<li class="menu-title d-none">Обслуживание</li>
<li>
    <a class=" waves-effect" asp-area="" asp-controller="Business" asp-action="Levels_Tree">
        <i class="mdi mdi-graph-outline"></i>
        <span>Структура</span>
    </a>
</li>

<li class="d-none">
    <a class="waves-effect" asp-area="" asp-controller="Business" asp-action="diagrams">
        <i class="mdi mdi-sticker-circle-outline"></i>
        <span>Диаграммы</span>
    </a>
</li>

<li>
    <a class=" waves-effect" asp-area="" asp-controller="Business" asp-action="Index">
        <i class="mdi mdi-engine"></i>
        <span>Объекты</span>
    </a>
</li>
<li>
    <a class="waves-effect" asp-area="" asp-controller="Business" asp-action="WorksList">
        <i class="mdi mdi-list-status"></i>
        <span>Обслуживание</span>
    </a>
</li>
<li class="d-none">
    <a class="waves-effect" asp-area="" asp-controller="Business" asp-action="WorkStepsList">
        <i class="mdi mdi-hand-pointing-right"></i>
        <span>Выполненные шаги</span>
    </a>
</li>
<li>
    <a class="waves-effect" asp-area="" asp-controller="Business" asp-action="AlertsList">
        <i class="mdi mdi-alert"></i>
        <span id="menu_alerts" class="badge rounded-pill bg-danger float-end" style="display:none"></span>
        <span>Уведомления</span>
    </a>
</li>

<li class="d-none">
    <a class=" waves-effect" asp-area="" asp-controller="Business" asp-action="QRCodes">
        <i class="mdi mdi-qrcode-scan"></i>
        <span>QR коды</span>
    </a>
</li>
<li class="d-none">
    <a class=" waves-effect" asp-area="" asp-controller="Business" asp-action="Index">
        <i class="mdi mdi-file-table"></i>
        <span>Объекты обслуживания</span>
    </a>
</li>

<li class="d-none">
    <a class=" waves-effect" asp-area="" asp-controller="Business" asp-action="Levels">
        <i class="mdi mdi-map-marker"></i>
        <span>Позиции</span>
    </a>
</li>



<li>
    <a class="waves-effect" asp-area="" asp-controller="Files" asp-action="Index">
        <i class="mdi mdi-image"></i>
        <span>Файлы</span>
    </a>
</li>

<li class="d-none">
    <a class="waves-effect" asp-area="" asp-controller="Files" asp-action="videofile">
        <i class="mdi mdi-image"></i>
        <span>Файлы (М)</span>
    </a>
</li>

<li class="d-none">
    <a href="javascript: void(0);" class="has-arrow waves-effect mm-active" aria-expanded="false">
        <i class="mdi mdi-graph-outline"></i>
        <span>Структура</span>
    </a>
    <ul class="sub-menu mm-collapse" aria-expanded="false">
        <li><a class=" waves-effect" asp-area="" asp-controller="Business" asp-action="Levels"><i class="mdi mdi-file-delimited"></i>Таблица позиций</a></li>
        <li><a class=" waves-effect" asp-area="" asp-controller="Business" asp-action="Levels_Tree"><i class="mdi mdi-file-tree"></i>Дерево позиций</a></li>
    </ul>
</li>

<li class="d-none">
    <a class=" waves-effect" asp-area="" asp-controller="Business" asp-action="TagsInfo">
        <i class="mdi mdi-texture-box"></i>
        <span>Тест</span>
    </a>
</li>

<li class="d-none">
    <a class=" waves-effect" asp-area="" asp-controller="Business" asp-action="TestAjaxForm">
        <i class="mdi mdi-texture-box"></i>
        <span>Тест AjaxForm</span>
    </a>
</li>

<li class="d-none">
    <a class=" waves-effect" asp-area="" asp-controller="Files" asp-action="TestLoadDelFiles">
        <i class="mdi mdi-texture-box"></i>
        <span>Тест Загрузка и удаление файлов</span>
    </a>
</li>

<li class="d-none">
    <a class=" waves-effect" asp-area="" asp-controller="Business" asp-action="diagrams2">
        <i class="mdi mdi-texture-box"></i>
        <span>Тест Диаграммы 2</span>
    </a>
</li>

<li class="d-none">
    <a class=" waves-effect" asp-area="" asp-controller="Business" asp-action="diagrams3">
        <i class="mdi mdi-texture-box"></i>
        <span>Тест Диаграммы 3</span>
    </a>
</li>

<li class="d-none">
    <a class=" waves-effect" asp-area="" asp-controller="Business" asp-action="diagrams4">
        <i class="mdi mdi-texture-box"></i>
        <span>Тест Диаграммы 4</span>
    </a>
</li>


@if (@ViewContext.HttpContext.User.IsInRole("Admin") || @ViewContext.HttpContext.User.IsInRole("SuperAdmin"))
{
    <li class="menu-title d-none">Администрирование</li>
    <ul class="d-none">
        <li>
            <a class=" waves-effect" asp-area="" asp-controller="Admin" asp-action="Index">
                <i class="mdi mdi-book-account"></i>
                <span>Пользователи</span>
            </a>
        </li>
        <li>
            <a class=" waves-effect" asp-area="" asp-controller="Admin" asp-action="Register">
                <i class="mdi mdi-account-plus"></i>
                <span>Регистрация</span>
            </a>
        </li>
        <li>
            <a class=" waves-effect" asp-area="" asp-controller="Admin" asp-action="Profile">
                <i class="mdi mdi-face-recognition"></i>
                <span>Профиль</span>
            </a>
        </li>
        <li class="d-none">
            <a class=" waves-effect" asp-area="Identity" asp-page="/Account/Register">
                <i class="mdi mdi-account-plus"></i>
                <span>Регистрация</span>
            </a>
        </li>
    </ul>
    <li>
        <a href="javascript: void(0);" class="has-arrow waves-effect" aria-expanded="false">
            <i class="mdi mdi-account-reactivate"></i>
            <span>Сотрудники</span>
        </a>
        <ul class="sub-menu mm-collapse" aria-expanded="false">
            <li><a class=" waves-effect" asp-area="" asp-controller="Admin" asp-action="Index"><i class="mdi mdi-book-account"></i>Таблица пользователей</a></li>
            <li><a class=" waves-effect" asp-area="" asp-controller="Admin" asp-action="Register"><i class="mdi mdi-account-plus"></i>Регистрация</a></li>
            <li><a class=" waves-effect" asp-area="" asp-controller="Admin" asp-action="Profile"><i class="mdi mdi-badge-account-horizontal-outline"></i>Профиль</a></li>
        </ul>
    </li>

    <li class="d-none">
        <a class=" waves-effect" asp-area="" asp-controller="Business" asp-action="TagsInfo">
            <i class="ri-settings-4-fill"></i>
            <span>Настройки</span>
        </a>
    </li>


}

<li class="">
    <a class="waves-effect" target="_blank" href=@Html.Partial("_requestPathBase", "\\Files\\Download\\app-debug.apk")>
        <i class="fab fa-android"></i>
        <span>Android-приложение</span>
    </a>
</li>


<li class="menu-title d-none">Справка</li>

<li class="d-none">
    <a asp-action="Info" asp-controller="Home" class=" waves-effect">
        <i class="mdi mdi-help-circle"></i>
        <span>Руководство</span>
    </a>
</li>

<li class="menu-title">Тестирование</li>
<ul class="">

    <li class="">
        <a class=" waves-effect" asp-area="" asp-controller="Business" asp-action="report1">
            <i class="mdi mdi-texture-box"></i>
            <span>Тест Отчета 1</span>
        </a>
    </li>

    <li class="d-none">
        <a class=" waves-effect" asp-area="" asp-controller="Home" asp-action="TestTables">
            <i class="mdi mdi-texture-box"></i>
            <span>Тест Таблицы 1</span>
        </a>
    </li>

    <li class="d-none">
        <a class=" waves-effect" asp-area="" asp-controller="Home" asp-action="TestTables2">
            <i class="mdi mdi-texture-box"></i>
            <span>Тест Таблицы 2</span>
        </a>
    </li>

    <li class="d-none">
        <a class=" waves-effect" asp-area="" asp-controller="Home" asp-action="TestTables3">
            <i class="mdi mdi-texture-box"></i>
            <span>Тест Таблицы 3</span>
        </a>
    </li>

    <li class="d-none">
        <a class=" waves-effect" asp-area="" asp-controller="Home" asp-action="TestTables4">
            <i class="mdi mdi-texture-box"></i>
            <span>Тест Таблицы 4</span>
        </a>
    </li>

    <li class="">
        <a class=" waves-effect" asp-area="" asp-controller="Home" asp-action="TestTables5">
            <i class="mdi mdi-texture-box"></i>
            <span>Тест Таблицы 5</span>
        </a>
    </li>

    <li class="d-none">
        <a class=" waves-effect" asp-area="" asp-controller="Home" asp-action="TestTables6">
            <i class="mdi mdi-texture-box"></i>
            <span>Тест Таблицы 6.</span>
        </a>
    </li>

    <li class="">
        <a class=" waves-effect" asp-area="" asp-controller="Home" asp-action="TestTables7">
            <i class="mdi mdi-texture-box"></i>
            <span>Тест Таблицы 7</span>
        </a>
    </li>

    <li class="">
        <a class=" waves-effect" asp-area="" asp-controller="Home" asp-action="TestTables8">
            <i class="mdi mdi-texture-box"></i>
            <span>Тест Таблицы 8</span>
        </a>
    </li>

    <li class="">
        <a class=" waves-effect" asp-area="" asp-controller="Home" asp-action="TestTables9">
            <i class="mdi mdi-texture-box"></i>
            <span>Тест Таблицы 9</span>
        </a>
    </li>
</ul>






