
    <div class="text-center mb-4">
        <a asp-action="Index" asp-controller="Home" class="">
            <img src="~/assets/images/logo-dark.png" alt="" height="40" class="auth-logo logo-dark mx-auto">
            <img src="~/assets/images/logo-light.png" alt="" height="40" class="auth-logo logo-light mx-auto">
        </a>
    </div>
    