
<div class="d-none" id="delId"></div>

<!-- sample modal content -->
<div id="myModalDel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form class="" asp-controller="Business" asp-action="StepDelete" method="post">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-white" id="myModalDelLabel">Удалить шаг</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="number" id ="name_id" name="id" value="0" style="display: none" readonly />
                    <input type="number" name="ServiceObjectId" class="form-control d-none" value="@ViewData["ServiceObjectId"]" readonly />
                    <p>После этого действия вы не сможете востановить шаг. Прикрепленные файлы также будут удалены.</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Удалить</button>
                    <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script type="text/javascript">
    function SetWindow(Value, Title, Index) {
        if (Title == undefined || Title == "") {
            Title = "объект"
        }
        document.getElementById("delId").innerText = Value;
        document.getElementById("myModalDelLabel").innerText = `Удалить шаг ${Index} [ ${Title} ]`;
        document.getElementById("name_id").value = Value;
    }
</script>