@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        <!--Layout = (string)parentLayout;-->
        Layout = "/Views/Shared/_LayoutH.cshtml";
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h2>Управление учетной записью</h2>

<div>
    <h4>Изменение настроек своей учетной записи</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    @RenderBody()
                </div>
            </div>
        </div>
     </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
