@model FactPortal.Models.IndexStat

@{
    ViewData["Title"] = "Главная";
    //List<Alert> Alerts = ViewBag.Alerts;
}

@section CSS_first {
    <!-- DataTables -->
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
}



@section Scripts {
    <!-- apexcharts js -->
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- получение локального времени -->
    @*<script src="~/assets/dm/localtime.js"></script>

    <script language="javascript">

        function checkClientTimeZone() {
            // Set the client time zone
            var dt = new Date();
            //alert(dt.toString());
            var tz = -dt.getTimezoneOffset(); // time zone
            //alert(tz.toString());
            document.getElementById('servertime').innerHTML = `<p>${UTC_To_LocalTime('@ViewBag.Time')}</p>`;
            document.getElementById('clienttime').innerHTML = `<p>${dt.toString()} ${tz.toString()}</p>`;
        }

        // Attach to the document onload event
        checkClientTimeZone();


    </script>*@

}