
@{
    ViewData["Title"] = "Руководство";
}


<div class="card border border-primary">
    <div class="card-body">
        <h5 class="mb-4"><i class="uil uil-question-circle me-3"></i>Руководство</h5>
        <p class="card-text">Здесь будет некая информация...</p>
    </div>
</div>