
@{
    ViewData["Title"] = "diagrams3";
}

<h1>diagrams3</h1>

<!---->
<div class="circle">7%</div>
<div class="circle" widthback="15" widthfront="10">27%</div>
<div class="circle" size="300">100%</div>
<div class="circle" size="200" widthback="5" widthfront="5">90.5%</div>
<div class="circle" color="#96d94e">84%</div>
<div class="circle" color="red">65.4%</div>

@Html.Partial("_DiagramCircle")


@section Scripts {


    <script type="text/javascript">
            
    </script>
}



