
@{
    ViewData["Title"] = "Files";
}

<h1>Files</h1>

@Html.Partial("_FilesControl", new FileFront { category = "step", categoryId = 1 })


@section Scripts {
    <script src="~/assets/dm/fileControl.js"></script>
}