@model WorkInfo
@using System.Text.RegularExpressions;
@{
    if (Model.Id > 0)
    {
        ViewData["Title"] = $"Обслуживание ID {Model.Id}";
    }
    else
    {
        ViewData["Title"] = $"{Model.ServiceObjectTitle}: Новое обслуживание";
    }

}


<div class="row">
    <div class="col-12">
        <div class="card">
                <div class="card-body">
                    <div class="row g-0 d-flex justify-content-start">
                        
                        <div class="col-10 col-md-3 pb-2">
                            <small>Объект: </small>
                            <br />
                            @Html.Partial("_cellSObject", new ServiceObject { Id = Model.ServiceObjectId, ObjectTitle = Model.ServiceObjectTitle, ObjectCode = null })
                        </div>
                        
                        
                    </div>
                    
                    <hr />
                    
                    <!---->
                </div>
                <div class="card-footer">
                    <div class="row g-0 d-flex justify-content-start">
                        <!-- закрыть -->
                        <a asp-action="WorksList" asp-route-ServiceObjectId="@ViewData["ServiceObjectId"]" type="button" class="col col-sm-4 col-md-3 mx-2 mb-1 btn btn-secondary btn btn-block">Закрыть</a>
                    </div>
                </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    function Next(Index) {
            ShowId('upload' + Index);
    }

    // Show Hide for ID
    function HideId(id) {
            document.getElementById(id).style.display = 'none'; // скрыть
        }
    function ShowId(id) {
            document.getElementById(id).style.display = ''; // показать
    }

</script>




