@model WorkStepInfo
@using System.Text.RegularExpressions;
@{
    int FilterWrk = Convert.ToInt32(ViewData["WorkReturn"]); // выборка по обслуживанию
    if (Model.Id > 0)
    {
        ViewData["Title"] = $"Выполненный шаг {Model.Index} [ID {Model.Id}] по обслуживанию № {Model.WorkId}";
    }
    else
    {
        ViewData["Title"] = $"Обслуживание № {Model.WorkId}: Новый выполненный шаг";
    }

    //List<myFiles> MF = ViewBag.Files;
}


<div class="row">
    <div class="col-12">
        <div class="card">
            @Html.Partial("tbl_WorkSteps_Info", Model)

            <div class="card-footer">
                <div class="row g-0 d-flex justify-content-start">
                    <!-- закрыть -->
                    <a asp-action="WorkStepsList" asp-route-WorkId="@ViewData["WorkReturn"]" asp-route-ServiceObjectId="@ViewData["SOReturn"]" type="button" class="col col-sm-4 col-md-3 mx-2 mb-1 btn btn-secondary btn btn-block">Закрыть</a>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">
    </script>
}




