@page
@model LoginModel

@{
    ViewData["Title"] = "Добро пожаловать!";
}

<style>
        .showing_stealth {
            position: relative;
        }

            .showing_stealth input {
                width: 100%;
                padding-left: 14px;
            }

            .showing_stealth span {
                position: absolute;
                right: 14px;
                top: 50%;
                transform: translateY(-50%);
                color: #0a2346;
                cursor: pointer;
                display: block;
            }

                .showing_stealth span i.conceal-btn::before {
                    content: "\f070";
                }
    </style>

<div class="card-body p-5 ">
    <div class="">
        <partial name="_minLogo" />
        <!-- end row -->
        <!--
        <h4 class="font-size-18 text-muted mt-2 text-center">@ViewData["Title"]</h4>
        <p class="mb-5 text-center">Используйте учетную запись для входа.</p>
        -->
        <form id="account" method="post" class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="col-md-12">
                    <!--
    <div class="form-group mb-4">

        <label asp-for="Input.Login"></label>
        <span asp-validation-for="Input.Login" class="text-danger"></span>

        <input asp-for="Input.NameConnection" class="form-control" required="" placeholder="Html.DisplayNameFor(m => m.Input.NameConnection)" value="ViewData["MyConnName"]" />
    </div>
    -->
                    <div class="form-group mb-4">
                        <!--
        <label asp-for="Input.Login"></label>
        <span asp-validation-for="Input.Login" class="text-danger"></span>
        -->
                        <input asp-for="Input.Login" class="form-control" required="" placeholder="@Html.DisplayNameFor(m => m.Input.Login)" />
                    </div>
                    <!--<small><a href="#" class="password-control flex-row-reverse">Показать пароль</a></small>-->
                    <div class="form-group mb-4 showing_stealth">
                        <!--
        <label asp-for="Input.Password"></label>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
        -->
                        <input asp-for="Input.Password" id="password-input1" class="form-control" required="" placeholder="@Html.DisplayNameFor(m => m.Input.Password)" />
                        <span class="cumancen"><i class="fas fa-eye"></i></span>
                    </div>
                    <div class="form-group mb-3 form-check form-check-inline">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" class="form-check-input" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group d-grid mb-3">
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Вход</button>
                    </div>
                    <div class="form-group mb-3">
                        <a id="forgot-password" asp-page="./ForgotPassword"><i class="mdi mdi-lock"></i> Забыли пароль?</a>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <!--<partial name="_ShowHidePassword" />-->
    
    <!-- Show/Hide password-->
    <script>
        const passField = document.getElementById('password-input1');
          const showBtn = document.querySelector("span i");
          showBtn.onclick = (()=>{
              if(passField.type === "password"){
                  passField.type = "text";
                 showBtn.classList.add("conceal-btn");
              }else{
                  passField.type = "password";
                  showBtn.classList.remove("conceal-btn");
              }
          });
    </script>

}
