@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Восстановление пароля";
}


    <div class="card-body p-5 ">
        <div class="">
            <partial name="_minLogo" />
            <h4>@ViewData["Title"]</h4>
            <form id="account" method="post" class="form-horizontal">
                <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Input.Code" type="hidden" />
                        <div class="form-group mb-4">
                            <!--<label asp-for="Input.Email"></label>-->
                            <input asp-for="Input.Email" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Input.Email)"/>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-4">
                            <!--<label asp-for="Input.Password"></label>-->
                            <input asp-for="Input.Password" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Input.Password)"/>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-4">
                            <!--<label asp-for="Input.ConfirmPassword"></label>-->
                            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Input.ConfirmPassword)"/>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group d-grid mb-3">
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Применить</button>
                        </div>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
