@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Пароль восстановлен";
}

<div class="card-body p-5 ">
    <div class="">
        <partial name="_minLogo" />
        <h2>@ViewData["Title"]</h2>
        <p>
            Пожалуйста <a asp-page="./Login">нажмите здесь для авторизации</a>.
        </p>
    </div>
</div>